*, *::after, *::before{
    box-sizing: border-box;
}
body{
    margin: 0 auto;
   background-image: linear-gradient(to right top, white, #5c4d7d, #34a0a4,rgb(114, 167, 226));
    
}
/*Header / icon section*/

.icon{
    
    justify-content: center;
    align-content: center;
    margin-right: auto;
    margin-left: auto;
    width: 400px;
    font-variant: small-caps;
    border: 5px solid;
    border-top-color: crimson;
    border-bottom-color: rgb(63, 20, 220);
    border-left-color: rgb(20, 220, 53);
    border-right-color: rgb(200, 220, 20);
}

.h4{
    margin-bottom: 0;
    color:coral;
    font-family: 'Lucida Sans',sans-serif;
    text-decoration: underline;
    letter-spacing: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;

}
.paragraph{
    justify-content: center;
    font-family: 'Segoe UI',sans-serif;
    margin-top: 0;
    text-align: center;
}
.span{
    color:red;
    line-height: 10px;
    font-weight: bolder;
    text-transform: uppercase;

}

/* Game Board Section*/
:root{
    --cell-size:200px;
    --mark-size:var(cal(var--cell-size)*.9)
}

.board{
    width: 90vw;
    height:90vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
}

.cell{
    width: var( --cell-size);
    height: var( --cell-size);
    background-color: transparent;
    border: 5px double gold;
    cursor: pointer;
}
.cell:nth-of-type(1),
.cell:nth-of-type(2),
.cell:nth-of-type(3){
 border-top: none;
}
.cell:nth-of-type(1),
.cell:nth-of-type(4),
.cell:nth-of-type(7){
 border-left: none;
}
.cell:nth-of-type(3),
.cell:nth-of-type(6),
.cell:nth-of-type(9){
 border-right: none;
}
.cell:nth-of-type(7),
.cell:nth-of-type(8),
.cell:nth-of-type(9){
 border-bottom: none;
}
button{
    cursor: pointer;
    margin-left: 47%;
    margin-bottom: 10px;
    margin-top: 0;
    padding: 0;
    color: white;
    justify-content: center;
    width:100px;
    text-transform: uppercase;
    text-size-adjust: 50px;
    line-height: 50px;
    background-color: purple;
    display: inline-block;

}
.board.turn-x.cell:not(.x):not(.o):hover:before,
.board.turn-x.cell:not(.x):not(.o):hover:before,
.cell.x::before,
.cell.x::after{
    background-color: rgb(10, 10, 12);
    content: '';
    display: block;
    position:absolute;
    top: 37%;
    left: 30%;
    width: 15px;
    height: 150px;
    border-radius: 50%;

}

.cell.x::before{
    transform: translate(50%, -50%) rotate(-45deg);
}
.cell.x::after{
    transform: translate(50%, -50%) rotate(45deg);
}

.cell.o::before{
    
    content: '';
    display: block;
    position:absolute;
    top: 30%;
    left: 44%;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 20px solid green;
}

.cell.x,
.cell.o{
    cursor: not-allowed;
}
